// vendor
@import "../bower_components/bootstrap/less/bootstrap";
@import "../bower_components/font-awesome/less/font-awesome";
@import "../bower_components/angularjs-slider/src/rzslider";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

// ======================
// bootstrap override

@icon-font-path: "../fonts";
@fa-font-path: "../fonts";
@grid-gutter-width: 20px;

// Override glyphicon behavior
.glyphicon { .fa-icon(); }
.glyphicon-chevron-left:before { content: @fa-var-chevron-left; }
.glyphicon-chevron-right:before { content: @fa-var-chevron-right; }
.glyphicon-chevron-up:before { content: @fa-var-chevron-up; }
.glyphicon-chevron-down:before { content: @fa-var-chevron-down; }
.carousel-control:hover { cursor: pointer; }

// ======================
// custom var

@ee-blue: #03A9F4;
@ee-blue-border: #0398db;
@ee-dark-blue: darken(@ee-blue, 10%);
@ee-gray: #ECEFF1;
@ee-dark: #606060;
@ee-dark-gray: darken(@ee-dark, 10%);
@ee-muted: #777777;
@ee-green: #5CB85C;
@ee-gold: #FFAC00;
@ee-light-blue: #D9EDF7;
@ee-light-gold: #FAEBCC;
@ee-light-green: #DFF0D8;
@ee-light-gray: #F6F6F6;
@ee-light-light-gray: #FCFCFC;
@ee-light-dark: #DDDDDD;

@ee-push-height: 60px;
@ee-store-push-height: 80px;
@ee-builder-navbar-top-height: 0px;
@ee-main-navbar-height: 60px;
@ee-store-navbar-height: 84px;
@ee-xxs-width: 480px;

@offscreen-left-width: 300px;

// bs var override
@brand-primary: @ee-blue;
@brand-info: #6B5C84;
@brand-success: #40a397;

@state-primary-text: @brand-primary;
@state-info-text: @brand-info;
@state-success-text: @brand-success;

@state-primary-bg: @brand-primary;
@state-info-bg: #EFE5FF;
@state-success-bg: #DAFFFB;

@body-bg: @ee-light-light-gray;
@text-color: #555459;

.bg-white, .white-background { background: white !important; }
.bg-white-clear { background: rgba(255,255,255,0.65) !important; }
.bg-gray, .gray-background { background: @ee-gray !important; }
.bg-info,
.hover-bg-info:hover { background-color: @brand-info !important; color: white; }
.bg-success,
.hover-bg-success:hover { background-color: @brand-success !important; color: white; }

// paypal
.btn-paypal {
  img { width: 93px; height: 25px; }
  background: #ffc439 !important;
  text-shadow: 0px 1px 0 #ffdc88;
  color: black;
  border: none !important;
  height: 44px;
  line-height: 30px;
  padding: 7px;
  &:hover, &:focus {
    background: #edb633 !important;
    color: black;
  }
  .paypal-text {
    width: 110px;
    margin-left: 8px;
    font-size: 13px;
    line-height: 1.1em;
    white-space: pre-line;
    text-align: left;
  }
}
.btn-paypal.disabled { background-color: #ffc439 !important; }
.btn-paypal.btn-paypal-sm {
  img { width: 80px; }
  height: 40px;
  line-height: 26px;
  .paypal-text {
    width: 46px;
    font-size: 10px;
    height: 26px;
  }
}
.paypal-subtext {
  font-size: 9px;
  line-height: 10px;
  color: #003366;
}

// social
@brand-facebook: #3b5998;
@brand-pinterest: #cc2127;
@brand-twitter: #55acee;
@brand-instagram: #3f729b;

.bg-facebook,
.btn-facebook { background-color: @brand-facebook !important; color: white; }
.btn-facebook:hover,
.btn-facebook:focus { background-color: darken(@brand-facebook, 10%) !important; color: white; }

.bg-pinterest,
.btn-pinterest { background-color: @brand-pinterest !important; color: white; }
.btn-pinterest:hover,
.btn-pinterest:focus { background-color: darken(@brand-pinterest, 10%) !important; color: white; }

.bg-twitter,
.btn-twitter { background-color: @brand-twitter !important; color: white; }
.btn-twitter:hover,
.btn-twitter:focus { background-color: darken(@brand-twitter, 10%) !important; color: white; }

.text-facebook { color: @brand-facebook !important; &:hover { color: @brand-facebook !important; }  }
.text-pinterest { color: @brand-pinterest !important; &:hover { color: @brand-pinterest !important; }  }
.text-twitter { color: @brand-twitter !important; &:hover { color: @brand-twitter !important; }  }
.text-instagram { color: @brand-instagram !important; &:hover { color: @brand-instagram !important; }  }
.text-envelope { color: @ee-gold !important; &:hover { color: @ee-gold !important; } }
.text-flag { color: @brand-info !important; &:hover { color: @brand-info !important; } }

.text-dark { color: @ee-dark !important; }
.text-dark-gray { color: @ee-dark-gray !important; }
.text-dark-blue { color: @ee-dark-blue !important; }
.text-white, .white-color { color: white !important; }
.text-blue, .blue-color { color: @ee-blue; }
.text-gold, .gold-color { color: @ee-gold; }
.text-gray, .gray-color { color: @gray; }

a.link-muted { color: @ee-muted !important; }

// Material design spec (http://codepen.io/sdthornton/pen/wBZdXq)
.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}
.material-box-shadow (@y1, @blur1, @alpha1, @y2, @blur2, @alpha2) {
  -webkit-box-shadow: 0 @y1 @blur1 rgba(0,0,0,@alpha1), 0 @y2 @blur2 rgba(0,0,0,@alpha2);
  -moz-box-shadow:    0 @y1 @blur1 rgba(0,0,0,@alpha1), 0 @y2 @blur2 rgba(0,0,0,@alpha2);
  box-shadow:         0 @y1 @blur1 rgba(0,0,0,@alpha1), 0 @y2 @blur2 rgba(0,0,0,@alpha2);
}
.box-shadow,
.box-shadow-1 { .material-box-shadow(1px,3px,0.12,1px,2px,0.24); }
.box-shadow-2 { .material-box-shadow(3px,6px,0.16,3px,6px,0.23); }
.box-shadow-3 { .material-box-shadow(10px,20px,0.19,6px,6px,0.23); }
.box-shadow-4 { .material-box-shadow(14px,28px,0.25,10px,10px,0.22); }
.box-shadow-5 { .material-box-shadow(19px,38px,0.30,15px,12px,0.22); }

// ======================
// bootstrap-ui adjustments uib
.dropdown-menu { z-index: 1070; } // place above popovers (1060)
.popover {
  top: 30px;
  margin-bottom: 20px;
}
.popover-primary {
  border-color: @ee-blue;
  padding: 0;
  .popover-title {
    background-color: @ee-blue;
    color: white;
  }
  .arrow, .arrow-primary:after { border-bottom-color: @ee-blue !important; }
}
.popover-primary.top > .arrow,
.popover-primary.top > .arrow-primary:after { border-top-color: @ee-blue !important; }
uib-accordion.track-accordion {
  ee-builder-activity.guide {
    .panel-collapse {
      height: auto !important;
      display: block !important;
    }
    .panel-title a:hover { cursor: default; }
  }
  ee-builder-activity:not(.guide) {
    .panel {
      margin: 0 20px;
      border-radius: 0;
      border-top: none;
      border-bottom: none;
      -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
      -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
      transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
      .material-box-shadow(2px,3px,0.12,2px,2px,0.24);
    }
    .panel-open {
      margin: 20px 0;
      .material-box-shadow(10px,20px,0.19,6px,6px,0.23);
      .panel-title { font-weight: normal !important; }
    }
    .panel-heading {
      background: #FFFFFF;
      a:focus { outline: none; }
    }
    .panel-title {
      font-size: 20px;
      font-weight: 200 !important;
    }
    .panel-body {
      padding: 0;
      border: none !important;
    }
  }
  ee-builder-activity:first-child .panel {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #E6E6E6;
    margin-top: 0px !important;
  }
  ee-builder-activity:last-child .panel {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #E6E6E6;
  }
}
.modal { z-index: 5001 !important; }
.modal-backdrop { z-index: 5000 !important; bottom: 0; }
@media (min-width: 768px) { .modal-dialog { margin-top: 60px; } }
/* TODO remove once using new angular-ui-bootstrap with animation: false */
.modal.fade,
.modal.fade .modal-dialog,
.modal-backdrop.fade {
  transition: none !important;
  transform: none !important;
}
body.modal-open { overflow: visible; }
.full-modal {
  .modal-dialog.modal-lg {
    position: fixed;
    margin: 0;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 20px;
    height: auto;
    width: auto;
    @media (max-width: 767px) { left: 10px; right: 10px; }
  }
  .modal-content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.overlay-modal {
  .modal-dialog {
    position: fixed;
    margin: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
  }
  .modal-content {
    height: 100%;
    border-radius: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

// Carousel
@carousel-caption-height: 60px;
.carousel { margin-bottom: @carousel-caption-height / 2; }
// .carousel-inner { padding-bottom: @carousel-caption-height; }
.carousel-control {
  // bottom: @carousel-caption-height;
  background: none !important;
}
.carousel-indicators {
  display: none;
  // bottom: -35px !important;
  // right: 15px !important;
  // left: inherit !important;
  // text-align: right;
  // li {
  //   border: 1px solid @ee-muted !important;
  //   background-color: @ee-light-light-gray !important;
  // }
  // .active { background-color: @ee-muted !important; }
}
.carousel-caption {
  left: 0;
  right: 0;
  bottom: -@carousel-caption-height;
  height: @carousel-caption-height;
  padding: 0 3px;
  color: @ee-dark-gray;
  text-shadow: none;
  text-align: left;
  h4 {
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .carousel { margin-bottom: 0; }
  .carousel-control .glyphicon {
    padding: 8px;
    margin-top: -18px;
    background: @ee-dark-gray;
  }
}

.pagination > li > a,
.pagination > li > span { color: #777777; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #777777;
  border-color: #777777;
}

// rzslider
.rzslider .rz-pointer.rz-active:after { background-color: white !important; }
.rz-pointer { outline: none !important; }

// ======================

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.container-narrow {
  max-width: 900px;
  padding-left: 2px;
  padding-right: 2px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html { overflow-x: hidden; }

#wrap,
#store-wrap {
	min-height: 100%;
	position: relative;
}
#main-region,
#store-main-region { padding-bottom: -@ee-push-height; }
#footer-region,
#store-footer-region {
	width: 100%;
  padding-top: 20px;
  font-size: 0.9em;
  li > a {
    padding: 0px;
    background: none;
    color: @ee-blue;
  }
  .bg-themed {
    @media (max-width: 370px) {
      margin: 10px -25px;
      border-radius: 0;
    }
  }
}

.ee-brand {
  background-image: none !important;
  background: @ee-blue !important;
  background-color: @ee-blue !important;
  span {
    vertical-align: top;
    color: white;
  }
}

// .main-navbar {
//   height: @ee-main-navbar-height;
//   min-height: @ee-main-navbar-height;
//   max-height: @ee-main-navbar-height;
//   ul.nav { display: inline-block !important; }
//   ul.nav > li, ul.nav > li > a { display: inline-block; }
//   ul.nav > li > a { padding: 10px 10px; }
//   ul.dropdown-menu { left: auto; right: 0; }
// }
.navbar-subheader { top: @ee-main-navbar-height; left: 0; right: 0; }
.ee-builder-subnav {
  max-height: 50px;
  overflow: hidden;
}
.ee-store-subnav {
  max-height: 40px;
  min-height: 40px;
  font-size: 17px;
  overflow: hidden;
  border-top: none;
  ul.nav > li > a { padding-top: 8px; padding-bottom: 12px; }
}
.ee-builder-navbar {
  min-height: @ee-main-navbar-height;
  .storefront-buttons {
    .position-fixed {
      top: 8px;
      left: 50%;
      width: 300px;
      margin-left: -150px;
      @media (max-width: 767px) {
        left: auto;
        margin-left: 0;
        right: 5px;
      }
    }
  }
  #logo {
    margin: 3px 30px 0 5px;
    @media (max-width: 767px) { margin: 0 8px 0 0; }
  }
}
.ee-builder-nav {
  li { float: left; }
  li > a {
    height: 60px;
    padding: 8px 10px 12px;
    small, h4 { color: #999999 !important; }
  }
  li > a:hover, li > a:focus { background: #ECE7F3 !important; }
  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    background: #ECE7F3 !important;
    small, h4 { color: #444444 !important; }
  }
  @media (max-width: @ee-xxs-width) {
    li > a > h4 {
      padding-top: 3px;
      font-size: 1.1em;
    }
  }
}
.ee-builder-subnav {
  top: @ee-main-navbar-height !important;
  z-index: 1020;
  .builder-subnav-btn {
    display: inline-block;
    width: 24%;
    line-height: 13px;
    color: #999999;
    margin: 0;
    padding: 10px;
    font-weight: normal;
  }
  .builder-subnav-btn:hover,
  .builder-subnav-btn:focus,
  .builder-subnav-btn.active {
    color: #444444 !important;
    font-weight: 500;
  }
}
.store-navbar {
  height: @ee-store-navbar-height;
  min-height: @ee-store-navbar-height;
  max-height: @ee-store-navbar-height;
  overflow: hidden;
  .navbar-nav > li > a { padding: 28px 15px 27px; }
  a.navbar-brand {
    font-size: 30px;
    line-height: 30px;
    padding: 19px 10px;
    height: 73px;
  }
  @media (max-width: 767px) {
    .navbar-nav > li > a {
      padding: 20px;
      font-size: 26px;
      font-weight: 200;
    }
  }
}
.supranav {
  height: 30px;
  max-height: 30px;
  background: @body-bg;
}
.slid-up .supranav { margin-top: -30px; }
.scrollnav {
  top: 0; left: 0; right: 0; height: 38px;
  z-index: 3000;
  margin-top: -65px;
}
.show-scrollnav .scrollnav { margin-top: 0; }

.opacity-01 { opacity: 0.1 !important; }
.opacity-03 { opacity: 0.3 !important; }
.opacity-05 { opacity: 0.5 !important; }
.opacity-07 { opacity: 0.7 !important; }
.opacity-08 { opacity: 0.8 !important; }
.opacity-07-white-background { background: rgba(255,255,255,0.7) !important; }
.opacity-08-white-background { background: rgba(255,255,255,0.8) !important; }
.transition-200 {
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
  -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
}
.transition-400 {
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.175, 1) 0s;
  -ms-transition: all 0.4s cubic-bezier(0.7, 0, 0.175, 1) 0s;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.175, 1) 0s;
}

.gray-border { border: 1px solid @ee-gray !important; }
.border-bottom-gray { border-bottom: 1px solid @ee-gray !important; }
.dark-gray-border { border: 1px solid @ee-dark-gray !important; }
.blue-border { border: 1px solid @ee-blue !important; }
.no-shadow { box-shadow: none; -webkit-box-shadow: none; }
.no-underline:hover, .no-underline:focus { text-decoration: none; }
.text-underline { text-decoration: underline; }
.text-shadow-dark-1 { text-shadow: 0 1px 4px rgba(0,0,0,.2); }
.text-shadow-dark-4 { text-shadow: 0 4px 8px rgba(0,0,0,.5); }
.font-weight-100 { font-weight: 100 !important; }
.font-weight-200 { font-weight: 200 !important; }
.overflow-hidden { overflow: hidden !important; }
.vertical-align-top { vertical-align: top; }
.vertical-align-middle { vertical-align: middle; }
.vertical-align-bottom { vertical-align: bottom; }
.overflow-y-scroll { overflow-y: scroll; }
.subheader-spacer { height: 43px; }
.white-space-pre { white-space: pre; }
.s-h-text { font-size: 12px; font-weight: normal; color: #555; }
.filter-blur {
  -webkit-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  margin: -10px;
}

.slide {
  position: relative;
  left: 0;
  transition: 1s;
}
.slide-2 { left: -104%; }
.slide-3 { left: -208%; }

.position-fixed { position: fixed; }
.position-absolute { position: absolute; }
.position-relative { position: relative; }
.position-inherit { position: inherit; }

.top-0 { top: 0 !important; }
.left-300 { left: 300px !important; }
.top-left-bottom-right-0 { top: 0; left: 0; bottom: 0; right: 0; }
.vert-0 { margin-top: 0px; margin-bottom: 0px; }
.vert-2 { margin-top: 2px; margin-bottom: 2px; }
.vert-5 { margin-top: 5px; margin-bottom: 5px; }
.vert-7 { margin-top: 7px; margin-bottom: 7px; }
.vert-8 { margin-top: 8px; margin-bottom: 8px; }
.vert-10 { margin-top: 10px; margin-bottom: 10px; }
.vert-15 { margin-top: 15px; margin-bottom: 15px; }
.vert-20 { margin-top: 20px; margin-bottom: 20px; }
.vert-25 { margin-top: 25px; margin-bottom: 25px; }
.vert-50 { margin-top: 50px; margin-bottom: 50px; }
.vert-100 { margin-top: 100px; margin-bottom: 100px; }
.margin-0 { margin: 0px !important; }
.margin-2 { margin: 2px; }
.margin-5 { margin: 5px; }
.margin-7 { margin: 7px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-50 { margin: 50px; }
.margin-0-auto { margin: 0 auto; }
.margin-top-0 { margin-top: 0px !important; }
.margin-top-50 { margin-top: 50px !important; }
.margin-bottom-0 { margin-bottom: 0px !important; }
.margin-right-4 { margin-right: 4px; }
.margin-right-0 { margin-right: 0px !important; }
.margin-left-0 { margin-left: 0px !important; }
.margin-left-10 { margin-left: 10px; }
.pad-0 { padding: 0px !important; }
.pad-2 { padding: 2px; }
.pad-5 { padding: 5px; }
.pad-5-important { padding: 5px !important; }
.pad-7 { padding: 7px; }
.pad-10 { padding: 10px; }
.pad-15 { padding: 15px; }
.pad-20 { padding: 20px; }
.pad-50 { padding: 50px; }
.pad-right-0 { padding-right: 0px !important; }
.pad-left-0 { padding-left: 0px !important; }
.pad-top-0 { padding-top: 0px !important; }
.pad-bottom-0 { padding-bottom: 0px !important; }
.pad-right-20 { padding-right: 20px; }
.pad-left-20 { padding-left: 20px; }
.pad-top-50 { padding-top: 50px; }
.squeeze-5 { padding-left: 5px !important; padding-right: 5px !important; }
.round-0 { border-radius: 0px !important; }
.round-5 { border-radius: 5px; }
.round-20 { border-radius: 20px; }
.round-50-pct { border-radius: 50%; }
.round-top { border-top-left-radius: 5px !important; border-top-right-radius: 5px !important; }
.round-bottom { border-bottom-left-radius: 5px !important; border-bottom-right-radius: 5px !important; }
.round-left { border-top-left-radius: 5px !important; border-bottom-left-radius: 5px !important; }
.round-right { border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important; }
.border-none { border: none !important; }
.no-side-border { border-left: none; border-right: none; }
.height-auto { height: auto; }
.width-auto { width: auto; }
.full-height { height: 100%; }
.full-width { width: 100%; }
.full-width-important { width: 100% !important; }
.min-width-40 { min-width: 40px; }
.max-width-100-pct { max-width: 100%; }
.max-width-80 { max-width: 80px; }
.max-width-100 { max-width: 100px; }
.max-width-120 { max-width: 120px; }
.max-width-200 { max-width: 200px !important; }
.max-width-300 { max-width: 300px !important; }
.max-width-400 { max-width: 400px !important; }
.max-width-450 { max-width: 400px !important; }
.max-width-600 { max-width: 600px; }
.max-width-900 { max-width: 900px; }
.max-height-0    { max-height: 0px; }
.max-height-80   { max-height: 80px; }
.max-height-200  { max-height: 200px; }
.max-height-2400 { max-height: 2400px; }
.min-height-120 { min-height: 120px; }
.min-height-300 { min-height: 300px; }
.min-height-600 { min-height: 600px; }
.min-height-900 { min-height: 900px; }
.height-0 { height: 0px !important; }
.height-50 { height: 50px; }
.height-62 { height: 62px; }
.height-450 { height: 450px; }
.height-550 { height: 550px; }
.width-25 { width: 25px; }
.width-35 { width: 35px; }
.width-40 { width: 40px; }
.width-45 { width: 45px; }
.width-50 { width: 50px; }
.width-55 { width: 55px; }
.width-62 { width: 62px; }
.width-103 { width: 103px; }
.width-120 { width: 120px; }
.width-160 { width: 160px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.inline-block { display: inline-block; }
.line-height-08 { line-height: 0.8em; }
.line-height-1 { line-height: 1em; }
.line-height-1-1 { line-height: 1.1em; }
.line-height-1-5 { line-height: 1.5em; }
.hover-cursor-default:hover { cursor: default !important; }
.hover-pointer:hover { cursor: pointer; }
.hover-underline:hover { text-decoration: underline; }
.hover-frost:hover { background-color: rgba(255,255,255,0.2); }
.hover-white-color:hover,
.hover-white-color:hover a { color: white !important; }
.hover-blue-border:hover { border-color: @ee-blue !important; }
.hover-info-border:hover { border-color: @brand-info !important; }
.hover-success-border:hover { border-color: @brand-success !important; }
.hover-trigger:hover .hover-shift { margin-left: 2rem; }
.hover-visible { opacity: 0; }
.hover-trigger:hover .hover-visible { opacity: 1; }
.hover-cover { z-index: 1000; }
.hover-trigger:hover .hover-cover,
.hover-trigger:focus .hover-cover { z-index: -1; }
.no-transition { transition: none; }

.font-18 { font-size: 18px; }
.font-24 { font-size: 24px; }
.font-32 { font-size: 32px; }
.font-48 { font-size: 48px; }
.font-64 { font-size: 64px; }
.font-72 { font-size: 72px; }
.font-family-shadows { font-family: 'Shadows Into Light Two', sans-serif; }

@media (max-width: @ee-xxs-width) {
  h1.text-shrink-480 { font-size: 2em !important; }
  h2.text-shrink-480 { font-size: 1.5em !important; }
  .jumbotron p { font-size: 18px; }
}

.brand-area,
.activity-area {
  top: 0;
  height: 80px;
}
.brand-area {
  width: 300px;
  left: 0;
  padding-top: 2px;
}
.activity-area {
  left: 307px;
  right: 0;
  padding-top: 5px;
  font-size: 16px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: none; background: rgba(0,0,0,0.15) }

img.loading {
  width: 100%;
  height: auto;
  opacity: 0.2;
}

.full-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 10000;
  background: white;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow-y: scroll;
}
.full-screen.true { height: 100%; }

.product-row {
  border-top: 1px solid @gray-lighter;
  &:hover {background: @ee-gray}
}
.product-well {
  width: 170px;
  img { min-height: 111px; }
}
// .collection-well { width: 356px; }
@media (max-width: 767px) {
  .product-well { width: 143px; }
  // .collection-well { width: 280px; }
  // .product-preview-thumb img { float: left; }
  // .navbar-form { margin-left: 0; }
}

img.small-thumb {
  width: auto;
  height: auto;
  max-width: 48px;
  max-height: 48px;
}

// .well.well-compact {
//   padding: 5px 19px;
//   margin-bottom: 10px;
// }

// navbar

.navbar-transparent {
  background: none !important;
  border: none;
  margin-bottom: 0;
}
.navbar-absolute-top,
.navbar-fixed-top {
  left: 0; right: 0; top: 0;
  background-color: white;
}
.navbar-absolute-top { position: absolute; }
// .navbar-rgba-colors {
//   border-color: rgba(0,0,0,0.2);
//   .navbar-toggle { border-color: rgba(0,0,0,0.2); }
//   .navbar-nav > li > a,
//   a.navbar-brand {
//     opacity: 0.7;
//   }
//   .navbar-nav > li:hover > a,
//   .navbar-nav > li > a:focus,
//   .navbar-nav > li.active > a,
//   .navbar-nav > li.active > a:hover,
//   .navbar-nav > li.active > a:focus,
//   .navbar-nav > li.open > a,
//   .navbar-nav > li.open > a:hover,
//   .navbar-nav > li.open > a:focus
//   a.navbar-brand:hover,
//   .navbar-header:hover > a,
//   .navbar-toggle:hover,
//   .navbar-toggle:focus {
//     opacity: 1;
//     background: rgba(255, 255, 255, 0.1) !important;
//   }
// }
.store-title {
  // padding: 10px 12px 12px 0px;
  .title-text {
    line-height: 1em;
    padding: 5px 0;
    font-size: 24px;
    vertical-align: middle;
    max-width: 150px;
    max-height: 56px;
    overflow: hidden;
    @media (max-width: 767px) { font-size: 20px; }
  }
}
// .navbar-addition {
//   left: 70px;
//   right: 15px;
//   top: 7px;
//   z-index: 1050;
// }

// bootstrap mod

img.media-object {
  width: auto;
  height: auto;
  max-width: 64px;
  max-height: 64px;
}
.nav-compact {
  li > a { padding: 1px 5px; }
}
// .input-group {
//   .btn:last-child {
//     border-radius: 0 3px 3px 0;
//     text-align: left;
//   }
// }
.input-group-plain {
  .input-group-addon { background: none; }
  .form-control {
    border-left: none;
    box-shadow: none;
    padding-left: 0;
    &:focus { border-color: #CCC; }
  }
}
.checkout-group {
  .input-group:first-child {
    .input-group-addon, input.form-control { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
  }
  .input-group:not(:first-child):not(:last-child) {
    .input-group-addon, input.form-control { border-radius: 0; border-top: none; }
  }
  .input-group:last-child {
    .input-group-addon, input.form-control {  border-top: none; border-top-left-radius: 0; border-top-right-radius: 0; }
  }
}
.input-group-addon[disabled] { background-color: #eeeeee; }


// landing page

.icon-bar { background-color: #f5f5f5; }
nav { background-color: #f5f5f5; }

.landing-background {
  background: url('https://res.cloudinary.com/eeosk/image/upload/c_scale,h_800,w_1100/v1430439803/cross_leg.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 720px;
}

.jumbotron-landing {
  margin-bottom: 0;
}

.intro-header {
  border-radius: 6px;
  font-size: 44px;
  width: 79%;
  margin-top: 80px;
}

.intro-btn-container { margin-top: 20px; }

.intro-btn {
  min-width: 33%;
  font-size: 24px;
}

.is-eeosk {
  position: absolute;
  top: 120px;
  left: 120px;
  h2 {
    text-shadow: 0 4px 8px rgba(0,0,0,.5);
    font-size: 50px;
    vertical-align: middle;
  }
  @media (max-width: 767px) { left: 15px; }
}
.is-well {
  font-family: 'Shadows Into Light Two', sans-serif;
  position: absolute;
  top: 200px;
  left: 150px;
  right: 150px;
  min-height: 200px;
  padding: 25px;
  vertical-align: middle;
  background: rgba(0,0,0,.5);
  border: 4px solid gray;
  h1 {
    text-shadow: 0 4px 8px rgba(0,0,0,.5);
    font-size: 80px;
  }
  @media (max-width: 767px) {
    top: 190px;
    left: 25px;
    right: 25px;
    min-height: 160px;
    padding: 10px;
    h1 { font-size: 40px; }
  }
}
.is-arrow-left,
.is-arrow-right {
  position: absolute;
  top: 250px;
  @media (max-width: 767px) { top: 450px; }
}
.is-arrow-left { left: 20px; }
.is-arrow-right { right: 20px; }

.btn-container { padding: 20px 0; }

.footer-links a { padding: 7px; }

@media (max-width: 768px) {
  .intro-header{
    width: 100%;
    font-size: 28px;
  }
  .jumbotron { max-width: 100%; }
  .intro-btn {
    width: 100%;
    font-size: 16px;
  }

  .segment-2, .segment-5 {
    max-width: 100%;
    height: auto;
    min-height: 500px;
  }
  .segment-5 .col-sm-4 { max-width: 280px; }

  .btn-container { padding: 10px 15px; }
}

/* nav */
@icon-width: 20px;
@nav-btn-width: 41px;
@nav-btn-height: 34px;

// .landing-toggle {
//   top: 5px;
//   left: 8px;
//   -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   transition: left 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
// }
// .landing-toggle.open { left: 308px; }

.section {
  display: inline-block;
  width: 100%;
}

// .open-nav {
//   -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 52px;
//   padding: 8px 9px 8px 8px;
//   z-index: 4;
// }
// .btn-toggle {
//   width: @nav-btn-width;
//   height: @nav-btn-height;
//   .icon {
//     position: relative;
//     width: @icon-width;
//     height: 2px;
//     background-color: white;
//     top: -6px;
//     left: -2px;
//   }
//   .icon:before,
//   .icon:after {
//     transition-duration: 0.2s;
//     background-color: white;
//     position: absolute;
//     content: "";
//     width: @icon-width;
//     height: 2px;
//     left: 0px;
//   }
//   .icon:before { top: -7px; }
//   .icon:after { top: 7px; }
//   .icon.icon-open { background-color: transparent; }
//   .icon.icon-open:before,
//   .icon.icon-open:after { top: 0; }
//   .icon.icon-open:before {
//     transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
//   }
//   .icon.icon-open:after {
//     transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//   }
// }

// .open-nav.open {
//   .btn-sm { display: none; }
//   width: @offscreen-left-width;
// }
// .open-nav.open:not(.narrow) {
//   left: @offscreen-left-width;
// }
// .open-nav.narrow:not(.open) {
//   width: @offscreen-left-width;
//   left: -228px;
//   background: none !important;
//   .icon { left: 2px; }
// }
// #ee-main {
//   transition-duration: 0.3s;
//   transition-timing-function: swing;
//   background-color: white;
//   width: auto;
//   height: 100%;
//   min-width: 320px;
//   position: relative;
//   -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
//   overflow-y: scroll;
//   overflow-x: hidden;
// }
// #ee-main.open { margin-left: @offscreen-left-width; }

// #ee-offscreen {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   z-index: 1;
// }
// #ee-main { z-index: 2; }

// #ee-offscreen #wrap {
//   box-shadow: 0 0 30px rgba(200, 200, 200, 0.1) inset;
//   .position-fixed.dropdown {
//     z-index: 1000;
//     max-height: 52px;
//   }
// }
// #ee-offscreen nav {
//   top: 0;
//   overflow-y: scroll;
// }

// .thumb {
//   display: inline-block;
//   width: 125px;
//   height: 125px;
//   background-position: center center;
//   background-size: contain;
//   background-repeat: no-repeat;
//   @media (max-width: 767px) { width: 80px; height: 80px; }
// }

.product {
  text-decoration: none;
  .product-title { color: @ee-dark-blue; }
  &:hover, &:focus {
    .product-title {
      color: @ee-blue;
      text-decoration: underline;
    }
  }
}
.product-container {
  background-color: white;
  border: 1px solid @ee-light-light-gray;
  border-radius: 2px;
  margin: 1px;
  transition: all 0.2s ease-in-out;
  &:hover, &:focus {
    .material-box-shadow(3px,6px,0.16,3px,6px,0.23);
  }
  max-width: 218px;
  @media (max-width: 480px) { max-width: 100%; }
  // @media (min-width: 481px) and (max-width: 767px) { max-width: 212px; }
  // @media (max-width: @screen-md-max) { max-width: 235px; }
}
ee-product-card .main-image {
  width: auto;
  max-height: 450px;
  max-width: 100%;
}
ee-product-card .product-info {
  @media (min-width: 768px) { text-align: left !important; }
}
.product-repeater {
  @media (max-width: 480px) { max-width: 49%; }
}
.homepage-product {
  max-width: 25%;
  @media (max-width: 480px) { max-width: 50%; }
}

@media (max-width: 600px) {
  ee-collection-for-builder {
    .media-left {
      display: inline-block;
      padding: 0;
      width: 100%;
    }
    img.media-object {
      width: 100% !important;
      max-height: inherit !important;
      margin: 0 0 10px;
    }
    img.max-width-300 { max-width: 100% !important; }
    .products-row { text-align: center; }
    .product-well { width: 135px; }
    .collection-well { width: 100%; }
  }
}

.btn-arrow {
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 30px;
  line-height: 16px;
  border-radius: 2px 0 0 2px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 15px 15px 15px 0;
  }
}

// FOR zoom.js
img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 650;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 400;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 300ms;
       -o-transition: opacity 300ms;
          transition: opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

// simple store
img.logo {
  max-height: 60px;
  @media (max-width: 767px) { max-height: 50px; }
}
.nav-side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -280px;
  width: 250px;
  overflow-y: scroll;
  z-index: 4000;
  li { width: 100%; }
}
.nav-side.open { left: 0; }
